# Ignore node_modules directory
node_modules/

# Ignore log files
logs/
*.log

# Ignore .env files
.env

# Ignore coverage directory (for test coverage reports)
coverage/

# Ignore compiled files (for TypeScript or other languages)
dist/
build/

# Ignore IDE specific files
.vscode/
.idea/
