.textbox-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

}

.textbox-container_input{
    width: 100%;
    border: 2px solid #686DAD;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    height: 100%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    height: 30px;
   
}

.textbox-container_input:focus {
    animation: flash 1.4s infinite;
    animation-timing-function: linear;
  }


.textbox-container i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #686DAD;
    position: absolute;
    right: 10px; /* Adjust this value to position the icon */
    font-size: 20px;
    cursor: pointer;
   width: 30px;
   justify-self: center;
   height: 30px;

}

@keyframes flash {
    0% {border-color: #686DAD;}
    17% {border-color: #b8bcfa;}
    34% {border-color: #b8bcfa;}
    51% {border-color: #b8bcfa;}
    85% {border-color: #959bf7;}
    100% {border-color: #686DAD;}
  }