.textbox-container{
    display: flex;
    align-items: center;
    justify-content: center;

}

.textbox-container_input{
    width: 100%;
    border: 3px solid #686DAD;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    height: 100%;
   
}

.textbox-container_input:focus {
    animation: flash 1.4s infinite;
    animation-timing-function: linear;
  }

@keyframes flash {
    0% {border-color: #686DAD;}
    17% {border-color: #b8bcfa;}
    34% {border-color: #b8bcfa;}
    51% {border-color: #b8bcfa;}
    85% {border-color: #959bf7;}
    100% {border-color: #686DAD;}
  }