.view-users-header{
    padding-left: 20px;
}

.view-users-header p{
    font-size: 34px;
    font-weight: bold;
    font-family: sans-serif;
}

.info-cards-container{
    width: 70%;
    overflow:auto;
    padding: 20px;
    height: 80vh;
    margin-top:0;
}


.view-info-image-container{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: right;
    
    
}

.logout-button-container{
   margin-top: auto;
}

.view-info-image-container img{
    width: 100%;
}

.logout-link{
    text-decoration: none;
}
