.create-account-submission{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }
  
.create-account-submission_btn{
    background-color: #959BF7;
    border-radius: 10px;
    border : none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }